@import '../../scss/colors';

.forum {
    display: inline-block;
    border: 10px;
    position: fixed;
    top: 40vh;
    right:55vh;
}

.newforum{
 
    
}

.imagecomposition {
    border-radius: 10rem;
    box-shadow: 0 1.5rem 4 rem rgba($color-black,.4);
    transition: all .5s ease-in-out;
    background: transparent;
  
}

.imagetext{
    margin-top: 5rem;
    padding-top: 10rem;
}


// .background{
//     background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
//     color: transparent;
//     -webkit-background-clip : text;
// }
