@import '../../scss/colors';

.forum {
    display: inline-block;
    border: 10px;
    position: fixed;
    top: 40vh;
    right:55vh;
    border-radius: 3px;
}

.forum:hover{
    color :white;
    transform: translateY(-1.5rem) scale(1.03);
    transition: transform .5s ease-in;
}

.imagecomposition {
    border-radius: 10rem;
    transition: all .5s ease-in-out;
    background: transparent;
  
}

.imagetext{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color:$color-black;
}

