@import '../../scss/colors';
@import '../../scss/typography';
@import '../../scss/animations';

.cursor-pointer{
    cursor: pointer;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
.login{
  border: $line;
  border-radius: 2%;
  box-shadow: $shadow-dark;
  background-color: white;
  align-self: center;
  margin: 4rem;
  padding: 4rem;
  &_form {
    &_title {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      margin: 2rem;
      padding: 2rem;
    }
    &_group {
      
      margin: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-self: center;
      position: relative;
      &_label_username::before {
        position: relative;
        content: 'Email or UserName';
        display: none;
        transform: scaleY(0);
        animation: showlabel .3s forwards;
      }

      &_label_password::before {
        position: relative;
        content: 'Password';
        display: none;
        transform: scaleY(0);
        animation: showlabel .3s forwards;
      }
      &_input:focus::-webkit-input-placeholder{
        opacity:0;
      }
      &_input:focus + &_label_username::before {
        display: block;
      }
      &_input:focus + &_label_password::before {
        display: block;
      }
      
      &_input {
          border-radius: 100px;
          height: 2.5rem;
          padding: 1.5rem;
          font-size: 1.6rem;
          width: 80%;
          
          :active {
            text-decoration: none;
          }
          
      }
    }

  
  }
}


.login_button {
  border: none;
  outline: none;
  width: 12rem;
  height: 2.5rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  background-color:$color-grey-dark-3;
}

.login_button:not([disabled]):hover {
  background-color: $color-primary-light;
  cursor: pointer;
}
.login_button:active {
  border: none;
  outline: none;
} 


.login_google {
  margin: 2rem;
  border: none;
  outline: none;
  width: 18rem;
  height: 2.5rem;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  background-color:$color-grey-dark-3;
  
  &_icon{
    width :20px;
    height:20px;
    margin : .5rem;
  }

  &:hover {
    background-color: $color-primary-light;
  }
}

.or {
  margin-left:2rem;
  font-weight: bolder;
}
