.formGroup{
    display: block;
    margin-left:100px;
    margin-top: 10px;
}
.formLabel{
    text-align: right;
    float: left;
}

.borderSolid{
    border: 10px solid red;
}

.cursor-pointer{
    cursor: pointer;
  }