@import '../../scss/colors';
@import '../../scss//animations';

.comment{
    border-radius: 10px;
} 

.image{
    margin-right: 5px;
    width:60px;
    height:60px;
    color: white;
    justify-content: center;
    font-size: 30px;
    background: $backGround;
    border-radius: 100px;
}

.parentdiv{
    margin-bottom: 20px;
}

.parentdiv:hover {
    animation: zoomin 1s forwards;
}
