@import './scss/colors';


.App {
  text-align: center;
  font-weight: 400;
  width:100%;
  line-height: 1.3;
  color:$color-grey-dark-1;
}


 .container {
  min-height: 70vh;
  background-color:$color-grey-light-1;
  max-width: 80vw;
  box-shadow: $shadow-dark;
  margin: 8rem auto;
}

.content { 
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.college_view {
  display: grid;
}