@import './scss/colors';


.App {
  text-align: center;
  font-weight: 400;
  width:100%;
  line-height: 1.7;
  color:$color-grey-dark-1;
}


 .container {
  min-height: 65rem;
  background-color:$color-grey-light-1;
  max-width: 120rem;
  box-shadow: $shadow-dark;
  margin: 8rem auto;
}