

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 80%;
  box-sizing: border-box;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right bottom,#FF3366,#BA265D);
  background-size: cover;
  min-height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,a:visited,a:hover,a:active {
  text-decoration: none;
  cursor: pointer;
}

input {
  font-size: 1.3rem;
  font-weight: 500;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  text-align: center;
}

input:-moz-placeholder {
  text-align: center;
}


/* 
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
} */