$primaryColor : #1FDED2;
$backGround : linear-gradient(315deg,  #1FDED2 0%, #2ebbdf 74%);
$whiteBackGround : linear-gradient(315deg, white 0%, white 74%);
$color-primary-light :  #e7eee5;
$color-primary-dark : #767978;
$color-black: #000;

